.aboutus-page {
    margin: 20px;
    height: 92vh;
}

.streams-page p {
    font-size: 20px;
    font-weight: 500;
    top : 50%;
    bottom: 50%;
    transform: translate(0%, 50%);
    text-align: center;
}