@font-face {
    font-family: 'Russo_One';
    src: url('../../assets/fonts/Russo_One.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #470287;
    font-family: 'Russo_One';
    width: 100%;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar li {
    list-style: none;
    font-size: 25px;
    margin-right: 10px;
}

.navbar li:first-child {
    margin-left: 10px;
}

.navbar .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-right: auto;
}


.navbar li a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.navbar .logo img {
    width: 7vh;
    padding-top: 1vh;
}

.social-icon {
    display: inline-flex;
    margin-left: 14px;
}

.social-icon li a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon li a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon li a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon li a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.nav-link {
    position: relative;
}

.nav-link:hover {
    color: #470287;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #470287;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav-link:hover::after {
    width: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    font-size: 20px;
    border: 2px solid #470287;
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-item-group {
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 5px;
    color: white;
    text-decoration: none;
}