@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Morganite';
    src: url('./assets/fonts/Morganite-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}